[Unit]
Description=Raspberry Pi Camera Streamer
Wants=network-online.target
After=network-online.target

[Service]
# このサービスを実行するユーザー名を指定してください
# 例: User=pi
User=__USER__

# rpi-camera-streamer.sh が存在するディレクトリの絶対パスを指定してください
# 例: WorkingDirectory=/home/pi/rpi-camera-streamer
WorkingDirectory=__PATH_TO_PROJECT__

# rpi-camera-streamer.sh の絶対パスを指定してください
# 例: ExecStart=/home/pi/rpi-camera-streamer/rpi-camera-streamer.sh
ExecStart=__PATH_TO_PROJECT__/rpi-camera-streamer.sh

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
